In [2]:

import pandas as pd 
import seaborn as sns
import numpy as np

In [4]:
df=pd.read_csv('Iris_Data.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
x=df.drop('species',axis=1)
y=df['species']

In [15]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [16]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [19]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [26]:
from sklearn.neighbors import KNeighborsClassifier

In [34]:
k=round(np.power(X_train['sepal_length'].count(),0.5))
if((k%2)==0):
    k=k+1
k

11

In [35]:
knn=KNeighborsClassifier(k)

In [36]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=11)

In [37]:
predictions=knn.predict(X_test)

In [41]:
from sklearn.metrics import confusion_matrix, classification_report

In [39]:
confusion_matrix(y_test,predictions)

array([[19,  0,  0],
       [ 0, 13,  0],
       [ 0,  0, 13]], dtype=int64)

In [43]:
print(classification_report(y_test,predictions))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        19
Iris-versicolor       1.00      1.00      1.00        13
 Iris-virginica       1.00      1.00      1.00        13

       accuracy                           1.00        45
      macro avg       1.00      1.00      1.00        45
   weighted avg       1.00      1.00      1.00        45

In [44]:
print(classification_report(df['species'],knn.predict(df.drop('species',axis=1))))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        50
Iris-versicolor       0.96      0.94      0.95        50
 Iris-virginica       0.94      0.96      0.95        50

       accuracy                           0.97       150
      macro avg       0.97      0.97      0.97       150
   weighted avg       0.97      0.97      0.97       150

In [45]:
from sklearn.model_selection import cross_val_score

In [51]:
cross_val=cross_val_score(knn,df.drop('species',axis=1),df['species'],cv=4)
cross_val

array([0.94736842, 0.97368421, 0.94594595, 0.97297297])